{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container mt-5">

      <!-- Registration form -->
      <form
        class="col-6 mx-auto card p-3 shadow-lg"
        method="post"
        enctype="multipart/form-data"
        style="background-color: rgba(33, 37, 41, 1); color:#ffffff;height:550px;width:40%";
      >
        {% csrf_token %}
        <!-- CSRF token for security -->
        <!-- Registration form heading -->
        <h1 style="text-align: center">
          <span>Codelabs</span>
        </h1>
        <h3>Register</h3>
        <hr />

        <!-- Display error/success messages -->
        {% if messages %}
        <div class="alert alert-primary" role="alert">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input
            type="text"
            class="form-control custom-input my-2"
            name="username"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter username"
            required
          />
        </div>

        <!-- Password input field -->
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control my-2"
            name="password"
            id="exampleInputPassword1"
            placeholder="Password"
            required
          />
        </div>

        <!-- Link to login page for users who already have an account -->
        <p>Already have an account <a href="/auth/login/">Login</a></p>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary" style="background-color: rgba(33, 37, 41, 1);">Submit</button>
      </form>
    </div>
    {% endblock %}